@charset "utf-8";
/* CSS Document */
*{padding:0px;
background-color:f9f9f9;
margin:0px;}
.topest {
	background-color:#fff;
	height:416px;}
a {
	text-decoration:none;
	color:black;}
.daohanglan {
	z-index:5;
	width:100%;
	position:fixed;
	height:70px;
	background:#FFF;
	}
.logo {
	position:absolute;
	top:0px;
	cursor:pointer;
	width:300px;
	height:48px;
	margin-left:44px;}
.search {
	position:absolute;
	left:300px;
	top:25px;}
.woyao {
	display:block;
	width:200px;
	height:90px;
	background:#FFF;
	position:absolute;
	top:-20px;
	z-index:6;
	padding-top:0px;}
.down {
	position:absolute;

	top:90px;
	display:none;
	padding-top:00px;
	width:190px;;height:80px;
	background:#fff}
#zhaodongxi {
	left:800px;}
#zhaoshizhu {
	left:1000px;}
#about {left:1200px;}
.image {
	background-color:#303;
	position:absolute;
	height:350px;
	top:70px;
	width:100%;
	z-index:1;
	}
.xianbai {
	z-index:3;
	background-color:green;
	width:100%;
	position:absolute;
	height:250px;}
.latest-image {
	height:750px;
	background-color:#fff;
	border:1px solid #000;
	position:absolute;
	top:560px;
	width:1030px;
	left:100px;} 	
.goods_image {
	width:100%;
	height:200px;
	cursor:pointer;
	background:red;}
.throw {
	height:1100px;
	background-color:#006;
	position:absolute;
	width:300px;
	right:100px;
	top:760px;}
.lianjie {
	font-family:Verdana, Geneva, sans-serif;
	font-size:26px;
	text-decoration:none;
	list-style-type:none;
	}
.lianjie_1{
	position:absolute;
	top:40PX;
	left:10px;
	}
.width_image {
	position:absolute;
	z-index:0;
	width:100%;;
	height:100%;
	top:0;}
.button {
	heigt:25px;
	position:absolute;
	widh:300px;
	left:500px;
	top:300px;}
.small_button {
	float:left;
	margin-left:20px;
	height:15px;
	width:15px;
	background:#cccaca;}
#beijing_01 {
	display:block;}
#beijing_02 {
	display:none;}	
#beijing_03 {
	display:none;}	
#beijing_04 {
	display:none;}	
#beijing_05 {
	display:none;}	
.bantouming {
	position:absolute;
	top:0;
	right:85px;
	z-index:10;
	width:370px;
	height:100%;
	background-color:#666;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	}
.xianbai {
	z-index:3;
	position:absolute;
	top:427px;
	height:266px;}
.tupian {
	z-index:5;
	position:absolute;
	height:100%;
	width:890px;
	left:80px;
	background-color:#0C0;}
.data {
	z-index:5;
	position:absolute;
	height:100%;
	width:273px;
	right:80px;
	background-color:#0C0;}
.goods {
	float:left;
	margin-left:30px;
	margin-top:40px;
	width:200px;
	height:300px;
	background-color:#CCC;}
.wei {
	position:relative;
	top:1400px;
	height:300px;
	width:100%;
	background:#f9f9f9}
.textarea {
	width:500px;}
.fabuxinxi {
	font-size:50px;
	font-family:"幼圆", "隶书", "微软雅黑";
	color:#EEEE00;
	font-weight:1000;
	padding-left:70px;;
	padding-top:70px;}
.kuaisudianji {
	background-color:#FC8005;
	position:absolute;
	z-index:21;
	font-size:20px;
	font-family:"微软雅黑";
	right:280px;
	top:200px;
	cursor:pointer;
	}
.kuaisudianji_ {
	right:110px;}
.shiwuzhaoling {
	top:1400px;}
.xunwu_head {
	font-size:24px;}
.more {
	position:absolute;
	font-size:18px;
	top:0px;
	right:20px;}